.symbol-list {
    display: flex;
    margin: 0 10px;
    width: 100%;
    padding-left: 10px;
    
    
    
}
/* .symbol-list{ */


.symbol-list img {
    display: block;
    max-width: 50%;
    height: auto;
}

