@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Sriracha&display=swap');

html {
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
}

a {

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Prompt','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
